In [21]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [22]:
df=pd.read_csv("sample_customer_data.csv")
df

,CustomerID,Name,Age,Gender,Country,Join_Date,Purchase_Amount
0,1,Anna Smith,59.0,F,India,2019-11-26,288.0
1,2,Ahmed Khan,34.0,female,USA,2021-06-05,214.0
2,3,Fatima Noor,22.0,Male,Pakistan,2021-01-30,136.0
3,4,Anna Smith,46.0,M,China,2021-12-11,190.0
4,5,Li Wei,21.0,M,USA,2021-05-24,209.0
...,...,...,...,...,...,...,...
995,996,David Lee,49.0,Female,Pakistan,2020-04-04,162.0
996,997,John Smith,35.0,F,Pakistan,2020-06-13,412.0
997,998,Anna Smith,23.0,male,India,2019-12-27,NaN
998,999,Ahmed Khan,NaN,M,China,2019-04-02,413.0
999,1000,David Lee,36.0,Male,china,2021-08-01,352.0

#### BASIC OVERVIEW

In [23]:
def basic_overview(df):
    print('\nTop 10 rows:\n', df.head(5))
    print('\nLast 10 rows:\n', df.tail(5))
    print('\nSample 10 rows:\n', df.sample(5))
    print('\Dataset size=',df.shape)
    print('\nStatiscal Summary (describe):\n',df.describe())
    print('info Data')
    df.info()
basic_overview(df)

Top 10 rows:
    CustomerID         Name   Age  Gender   Country   Join_Date  \
0           1   Anna Smith  59.0       F     India  2019-11-26
1           2   Ahmed Khan  34.0  female       USA  2021-06-05
2           3  Fatima Noor  22.0    Male  Pakistan  2021-01-30
3           4   Anna Smith  46.0       M     China  2021-12-11
4           5       Li Wei  21.0       M       USA  2021-05-24

   Purchase_Amount
0            288.0
1            214.0
2            136.0
3            190.0
4            209.0

Last 10 rows:
      CustomerID        Name   Age  Gender   Country   Join_Date  \
995         996   David Lee  49.0  Female  Pakistan  2020-04-04
996         997  John Smith  35.0       F  Pakistan  2020-06-13
997         998  Anna Smith  23.0    male     India  2019-12-27
998         999  Ahmed Khan   NaN       M     China  2019-04-02
999        1000   David Lee  36.0    Male     china  2021-08-01

     Purchase_Amount
995            162.0
996            412.0
997              NaN
998            413.0
999            352.0

Sample 10 rows:
      CustomerID          Name   Age  Gender   Country   Join_Date  \
947         948           NaN  39.0    Male     India  2019-03-31
97           98     David Lee  35.0       F        us  2021-10-13
69           70    Anna Smith  19.0  female        us  2018-07-20
588         589     David Lee  32.0    male     China  2020-11-11
535         536  Maria Garcia  26.0       M  PAKISTAN  2021-10-22

     Purchase_Amount
947            244.0
97              66.0
69             481.0
588             88.0
535            144.0
\Dataset size= (1000, 7)

Statiscal Summary (describe):
         CustomerID         Age  Purchase_Amount
count  1000.000000  980.000000       980.000000
mean    500.500000   38.582653       286.393878
std     288.819436   12.023993       129.731222
min       1.000000   18.000000        50.000000
25%     250.750000   28.000000       177.000000
50%     500.500000   39.000000       285.500000
75%     750.250000   49.000000       400.000000
max    1000.000000   59.000000       500.000000
info Data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       1000 non-null   int64
 1   Name             980 non-null    object
 2   Age              980 non-null    float64
 3   Gender           1000 non-null   object
 4   Country          1000 non-null   object
 5   Join_Date        1000 non-null   object
 6   Purchase_Amount  980 non-null    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 54.8+ KB

#### CHECK MISSING VALUE

In [24]:
print("Check Missing Value")
for col in df.columns:
    missing_value=df[col].isna().sum()
    percentage=missing_value*100/len(df)
    print("%s: %.2f%% (%d)" % (col, percentage, missing_value))

Check Missing Value
CustomerID: 0.00% (0)
Name: 2.00% (20)
Age: 2.00% (20)
Gender: 0.00% (0)
Country: 0.00% (0)
Join_Date: 0.00% (0)
Purchase_Amount: 2.00% (20)

#### HANDLE MISSING VALUE

In [25]:
#Remove rows where name is miising
print("Remove rows where name is miising...")
df=df.dropna(subset=["Name"])

#Fill age missing value with median
print("Fill age missing value with median...")
df["Age"]=df['Age'].fillna(df['Age'].median())

#Fill Purchase_Amount missing values with mean
print("Fill Purchase_Amount missing values with mean....")
df["Purchase_Amount"]=df["Purchase_Amount"].fillna(df['Purchase_Amount'].mean())

# Final check for missing values
print("\nMissing Values Summary:")
print(df.isna().sum())

Remove rows where name is miising...
Fill age missing value with median...
Fill Purchase_Amount missing values with mean....

Missing Values Summary:
CustomerID         0
Name               0
Age                0
Gender             0
Country            0
Join_Date          0
Purchase_Amount    0
dtype: int64

In [26]:
df.shape

(980, 7)

#### CHECK DUPLICATED AND REMOVE DUPLICATED

In [27]:
# check Duplicates
df.duplicated().sum()

np.int64(0)

#### Standardize Columns

##### Gender columns

In [28]:
df['Gender'].unique()

array(['F', 'female', 'Male', 'M', 'Female', 'male'], dtype=object)

In [29]:
df['Gender']=df['Gender'].str.strip().str.lower()
df['Gender']=df['Gender'].replace({"m":"male","f":"female"})
df['Gender'].value_counts()

Gender
female    521
male      459
Name: count, dtype: int64

##### Country columns

In [30]:
df['Country'].unique()

array(['India', 'USA', 'Pakistan', 'China', 'china', 'PAKISTAN', 'us',
       'U.S.A'], dtype=object)

In [31]:
df['Country']=df['Country'].str.strip().str.lower()
df['Country']=df['Country'].replace({
                        "us": "usa",
                        "u.s.a": "usa",
                        "pakistan": "pakistan",
                        "pakistan": "pakistan",
                        "china": "china",
                        "india":"india"})
df['Country'].value_counts()

Country
usa         366
pakistan    265
china       233
india       116
Name: count, dtype: int64

#### change type of columns

In [32]:
#Convert Join_Date to datetime
df["Join_Date"] = pd.to_datetime(df["Join_Date"], errors="coerce")

In [33]:
df.columns.tolist()

['CustomerID',
 'Name',
 'Age',
 'Gender',
 'Country',
 'Join_Date',
 'Purchase_Amount']

#### Rename Cloumns

In [34]:
# Rename columns
df = df.rename(columns={
    "CustomerID": "Customer ID",
    "Name": "Customer Name",
    "Country": "Country Name"
})

In [35]:
df.columns.tolist()

['Customer ID',
 'Customer Name',
 'Age',
 'Gender',
 'Country Name',
 'Join_Date',
 'Purchase_Amount']

#### Clean columns

In [36]:
df.columns = df.columns.str.lower().str.replace(" ", "_")
df.columns

Index(['customer_id', 'customer_name', 'age', 'gender', 'country_name',
       'join_date', 'purchase_amount'],
      dtype='object')

In [37]:
# last Check
print("\nAfter Cleaning:")
print(df.info())
print(df.head())

After Cleaning:
<class 'pandas.core.frame.DataFrame'>
Index: 980 entries, 0 to 999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      980 non-null    int64
 1   customer_name    980 non-null    object
 2   age              980 non-null    float64
 3   gender           980 non-null    object
 4   country_name     980 non-null    object
 5   join_date        980 non-null    datetime64[ns]
 6   purchase_amount  980 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 61.2+ KB
None
   customer_id customer_name   age  gender country_name  join_date  \
0            1    Anna Smith  59.0  female        india 2019-11-26
1            2    Ahmed Khan  34.0  female          usa 2021-06-05
2            3   Fatima Noor  22.0    male     pakistan 2021-01-30
3            4    Anna Smith  46.0    male        china 2021-12-11
4            5        Li Wei  21.0    male          usa 2021-05-24

   purchase_amount
0            288.0
1            214.0
2            136.0
3            190.0
4            209.0

In [38]:
df.to_csv("cleaned_customer_data.csv", index=False)
print("\nCleaned dataset saved as 'cleaned_customer_data.csv'")

Cleaned dataset saved as 'cleaned_customer_data.csv'