In [41]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

#### Load dataset

In [42]:
df=pd.read_csv('netflix_titles.csv')
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

#### BASIC OVERVIEW

In [43]:
def basic_overview(df):
    print('\nTop 10 rows:\n', df.head(5))
    print('\nLast 10 rows:\n', df.tail(5))
    print('\nSample 10 rows:\n', df.sample(5))
    print('\Dataset size=',df.shape)
    print('\nStatiscal Summary (describe):\n',df.describe())
    print('info Data')
    df.info()
basic_overview(df)

Top 10 rows:
   show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

Last 10 rows:
      show_id     type        title         director  \
8802   s8803    Movie       Zodiac    David Fincher
8803   s8804  TV Show  Zombie Dumb              NaN
8804   s8805    Movie   Zombieland  Ruben Fleischer
8805   s8806    Movie         Zoom     Peter Hewitt
8806   s8807    Movie       Zubaan      Mozez Singh

                                                   cast        country  \
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                                NaN            NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

             date_added  release_year rating   duration  \
8802  November 20, 2019          2007      R    158 min
8803       July 1, 2019          2018  TV-Y7  2 Seasons
8804   November 1, 2019          2009      R     88 min
8805   January 11, 2020          2006     PG     88 min
8806      March 2, 2019          2015  TV-14    111 min

                                           listed_in  \
8802                  Cult Movies, Dramas, Thrillers
8803          Kids' TV, Korean TV Shows, TV Comedies
8804                         Comedies, Horror Movies
8805              Children & Family Movies, Comedies
8806  Dramas, International Movies, Music & Musicals

                                            description
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

Sample 10 rows:
      show_id   type                                      title  \
6054   s6055  Movie                 A Russell Peters Christmas
6465   s6466  Movie                           Chicken Kokkachi
3329   s3330  Movie                               American Son
7156   s7157  Movie                       K-19: The Widowmaker
4318   s4319  Movie  Free Rein: The Twelve Neighs of Christmas

                director                                               cast  \
6054  Henry Sarwer-Foner  Russell Peters, Pamela Anderson, Michael Bublé...
6465    Anuranjan Premji  Anuranjan Premji, Indrans, Dharmajan Bolgatty,...
3329          Kenny Leon  Kerry Washington, Steven Pasquale, Jeremy Jord...
7156     Kathryn Bigelow  Harrison Ford, Liam Neeson, Peter Sarsgaard, S...
4318         Marek Losey  Jaylen Barron, Billy Angel, Manpreet Bambra, C...

                                             country         date_added  \
6054                                          Canada   November 1, 2013
6465                                           India       July 1, 2018
3329                                   United States   November 1, 2019
7156  United Kingdom, Germany, Canada, United States  November 21, 2019
4318                                             NaN   December 7, 2018

      release_year rating duration                         listed_in  \
6054          2011     NR   44 min                   Stand-Up Comedy
6465          2017  TV-14  113 min    Comedies, International Movies
3329          2019  TV-MA   90 min                            Dramas
7156          2002  PG-13  138 min        Action & Adventure, Dramas
4318          2018   TV-G   58 min  Children & Family Movies, Dramas

                                            description
6054  Inspired by the variety shows of the 1970s, "A...
6465  In the wake of his sister's marriage, a young ...
3329  Time passes and tension mounts in a Florida po...
7156  On board Russia's first nuclear ballistic subm...
4318  As Bright Fields preps for its Mistletoe Ball,...
\Dataset size= (8807, 12)

Statiscal Summary (describe):
        release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000
info Data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

#### CHECK MISSING VALUE

In [44]:
print("Check Missing Value")
for col in df.columns:
    missing_value=df[col].isna().sum()
    percentage=missing_value*100/len(df)
    print("%s: %.2f%% (%d)" % (col, percentage, missing_value))

Check Missing Value
show_id: 0.00% (0)
type: 0.00% (0)
title: 0.00% (0)
director: 29.91% (2634)
cast: 9.37% (825)
country: 9.44% (831)
date_added: 0.11% (10)
release_year: 0.00% (0)
rating: 0.05% (4)
duration: 0.03% (3)
listed_in: 0.00% (0)
description: 0.00% (0)

#### HANDLE THE MISSING VALUE

In [45]:
#Check how many missing (NaN) values are there in selected columns
print(df[['director','country','cast']].isna().sum())
#Replace all missing values in these columns with 'unknown'
print("Replace all missing values in these columns with 'unknown'")
df[['director','country','cast']]=df[['director','country','cast']].fillna('unkwon')
df[['director','country','cast']].isna().sum()

director    2634
country      831
cast         825
dtype: int64
Replace all missing values in these columns with 'unknown'

director    0
country     0
cast        0
dtype: int64

In [46]:
#Check how many missing (NaN) values are there in selected columns
print(df[['date_added','rating','duration']].isna().sum())
#Drop rows that have missing values in any of the selected columns
print('Drop rows that have missing values in any of the selected columns')
df=df.dropna(subset=['date_added','rating','duration'])
print("\nMissing values after dropping rows:")
df.isna().sum()

date_added    10
rating         4
duration       3
dtype: int64
Drop rows that have missing values in any of the selected columns

Missing values after dropping rows:

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [47]:
df.shape

(8790, 12)

In [48]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

#### Remove duplicate

In [49]:
# Remove duplicate rows
df.drop_duplicates(inplace=True)

#### Standardize columns name

In [50]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [51]:
df['country'] = df['country'].str.strip().str.title()
df['country']

0       United States
1        South Africa
2              Unkwon
3              Unkwon
4               India
            ...
8802    United States
8803           Unkwon
8804    United States
8805    United States
8806            India
Name: country, Length: 8790, dtype: object

#### convert data time

In [52]:
df['date_added'] = pd.to_datetime(df['date_added'], errors="coerce")
df['date_added'].isna().sum()

np.int64(88)

#### Check and fix data types

In [53]:
df.dtypes

show_id                 object
type                    object
title                   object
director                object
cast                    object
country                 object
date_added      datetime64[ns]
release_year             int64
rating                  object
duration                object
listed_in               object
description             object
dtype: object

In [54]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,unkwon,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,unkwon,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Unkwon,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,unkwon,unkwon,Unkwon,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,unkwon,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [55]:
df[['duration_value', 'duration_type']] = df['duration'].str.extract(r'(\d+)\s*(\w+)')
df['duration_value'] = pd.to_numeric(df['duration_value'], errors="coerce")
df[['duration_value', 'duration_type']].dtypes

duration_value     int64
duration_type     object
dtype: object

In [56]:
#final check
print("\nShape after cleaning:", df.shape)
print("\nMissing values after cleaning:")
print(df.isnull().sum())

Shape after cleaning: (8790, 14)

Missing values after cleaning:
show_id            0
type               0
title              0
director           0
cast               0
country            0
date_added        88
release_year       0
rating             0
duration           0
listed_in          0
description        0
duration_value     0
duration_type      0
dtype: int64

In [59]:
df.dropna(subset=['date_added'], inplace=True)

In [60]:
df.to_csv("netflix_titles_cleaned.csv", index=False)